.slick-slide:focus {
    outline: none !important;
}


.slick-initialized .slick-slide {

    margin-right: 68px;
    width: 266px;
}

div#carousel-noticias {
    width: 1000px;
    margin-left: -170px;
}

div#carousel-noticias img{
    width: 150px;
    height: 150px;
}

@media(max-width: 500px) {

    .slick-dots {
        margin-left: 68px;
    }

    div#carousel-noticias {
        width: 1000px;
        margin-left: -350px;
    }
}

