.image-slide.bg-fixed{
    background-image: url("/images/noticias/banner\ noticia.jpg") !important;
}

.titulo-noticia{
    max-width: 1000px !important;
    text-align: left !important;
}
.title>h2{

    font-weight: bold;
    text-align: center;

}

.title p{
    margin-top: 35px;
}

#header{
    height: 480px !important;
}

.form-control, .btn.submit {
    margin-bottom: 20px;
    border-radius: 0;
    border-color: #9a9a9a !important;
    color: #fff;
    background-color: rgba(0, 0, 0, .1);
}

